In [1]:
import requests
import pandas as pd
import json

In [9]:
df = pd.read_csv("./data/DailyDelhiClimateTest.csv", index_col='date').drop("humidity", axis=1)
df.index = pd.to_datetime(df.index)
df['hour'] = df.index.hour
df['dayofweek'] = df.index.day_of_week
df['quarter'] = df.index.quarter
df['month'] = df.index.month
df['year'] = df.index.year
df['dayofyear'] = df.index.dayofyear

In [10]:
df

,meantemp,wind_speed,meanpressure,hour,dayofweek,quarter,month,year,dayofyear
date,,,,,,,,,
2017-01-01,15.913043,2.743478,59.000000,0,6,1,1,2017,1
2017-01-02,18.500000,2.894444,1018.277778,0,0,1,1,2017,2
2017-01-03,17.111111,4.016667,1018.333333,0,1,1,1,2017,3
2017-01-04,18.700000,4.545000,1015.700000,0,2,1,1,2017,4
2017-01-05,18.388889,3.300000,1014.333333,0,3,1,1,2017,5
...,...,...,...,...,...,...,...,...,...
2017-04-20,34.500000,5.562500,998.625000,0,3,2,4,2017,110
2017-04-21,34.250000,6.962500,999.875000,0,4,2,4,2017,111
2017-04-22,32.900000,8.890000,1001.600000,0,5,2,4,2017,112
2017-04-23,32.875000,9.962500,1002.125000,0,6,2,4,2017,113
2017-04-24,32.000000,12.157143,1004.142857,0,0,2,4,2017,114

In [13]:
url = "https://time-series-endpoint.westeurope.inference.ml.azure.com/score"
body = {"input_data": df.values.tolist()}
api_key = "mbFvc0KPQRpsjRzPW4MtMnrmEu2ElQUR"
headers = {"Content-Type": "application/json", 'Authorization':('Bearer '+ api_key)}

r = requests.post(url=url, headers=headers, data=json.dumps(body))

In [17]:
r.json()

[52.89361810116358,
 53.446302965226415,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 53.446302965226415,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 53.446302965226415,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 53.446302965226415,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 53.446302965226415,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 53.446302965226415,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 53.446302965226415,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 53.446302965226415,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 53.446302965226415,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 53.446302965226415,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 53.446302965226415,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 53.446302965226415,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 53.446302965226415,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 53.446302965226415,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 53.446302965226415,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 53.446302965226415,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 52.89361810116358,
 53.446302965226415]