In [18]:
import requests
import pandas as pd
import json

In [19]:
df = pd.read_csv("./data/DailyDelhiClimateTest.csv", index_col='date').drop("humidity", axis=1)
df.index = pd.to_datetime(df.index)
df['hour'] = df.index.hour
df['dayofweek'] = df.index.day_of_week
df['quarter'] = df.index.quarter
df['month'] = df.index.month
df['year'] = df.index.year
df['dayofyear'] = df.index.dayofyear

In [20]:
df

,meantemp,wind_speed,meanpressure,hour,dayofweek,quarter,month,year,dayofyear
date,,,,,,,,,
2017-01-01,15.913043,2.743478,59.000000,0,6,1,1,2017,1
2017-01-02,18.500000,2.894444,1018.277778,0,0,1,1,2017,2
2017-01-03,17.111111,4.016667,1018.333333,0,1,1,1,2017,3
2017-01-04,18.700000,4.545000,1015.700000,0,2,1,1,2017,4
2017-01-05,18.388889,3.300000,1014.333333,0,3,1,1,2017,5
...,...,...,...,...,...,...,...,...,...
2017-04-20,34.500000,5.562500,998.625000,0,3,2,4,2017,110
2017-04-21,34.250000,6.962500,999.875000,0,4,2,4,2017,111
2017-04-22,32.900000,8.890000,1001.600000,0,5,2,4,2017,112
2017-04-23,32.875000,9.962500,1002.125000,0,6,2,4,2017,113
2017-04-24,32.000000,12.157143,1004.142857,0,0,2,4,2017,114

In [23]:
url = "https://time-series-endpoint.westeurope.inference.ml.azure.com/score"
body = {"input_data": df.values.tolist()}
api_key = "mbFvc0KPQRpsjRzPW4MtMnrmEu2ElQUR"
headers = {"Content-Type": "application/json", 'Authorization':('Bearer '+ api_key), 'azureml-model-deployment': 'green'}

r = requests.post(url=url, headers=headers, data=json.dumps(body))

In [24]:
r.json()

[83.46562873376608,
 69.42972777639041,
 78.71418242994929,
 70.96474739861618,
 72.11129693124954,
 65.88460236926826,
 79.78219047619021,
 79.6950029761903,
 79.45368214285693,
 80.85769702380935,
 82.97199940476173,
 83.39602916666647,
 81.21685595238085,
 79.4918928571428,
 79.20490059523797,
 80.73553630952362,
 81.09164464285669,
 80.47551309523796,
 81.44198154761902,
 82.80745297619049,
 81.63366845238097,
 64.64493294622041,
 65.54763545482297,
 67.3930233849484,
 66.25761490315243,
 72.17239742063491,
 69.37554141414151,
 72.2799420634921,
 68.92416780303041,
 74.9374512359621,
 75.58096518596138,
 68.8220242141916,
 67.43487040978337,
 71.59363540764792,
 66.05457274764724,
 67.23550709524412,
 72.78965407171331,
 73.64566767441494,
 74.02198039002066,
 72.67247343857834,
 73.54981777479763,
 70.5124607793777,
 73.58434386724385,
 71.8070646825397,
 69.4967180888556,
 65.63524900552324,
 65.84109837903333,
 66.1628304840627,
 66.51127104148284,
 65.20792747252733,
 63.56500117132844,
 60.53353090948512,
 58.79760695956083,
 57.53967174725868,
 55.23260777745657,
 59.328915256088976,
 57.864538075374874,
 61.87123462612673,
 61.380233088670316,
 58.29370383597862,
 58.972002157101905,
 56.112592656320196,
 58.727935021338276,
 59.221091607410436,
 57.32015966117206,
 61.65967155774026,
 58.69949952766515,
 60.29042284316545,
 57.51195405966831,
 64.74254212592962,
 72.2188426966149,
 72.8111621835576,
 68.35595702335502,
 66.297275585388,
 62.352880053927365,
 59.791598968925676,
 59.76835299546943,
 60.58892921138317,
 59.886908682691484,
 57.581229624542146,
 48.87915383699658,
 50.59725705128199,
 44.314969047619044,
 49.38343223748497,
 42.553154583842066,
 39.65995459706957,
 40.595004166666584,
 37.916274358974384,
 40.759318928571346,
 39.95882380952368,
 34.96647916666671,
 39.897532467532464,
 38.437037878787855,
 37.19832062271065,
 39.661895397935375,
 32.17587413419916,
 53.93448081705322,
 52.32942515262518,
 43.20000625772372,
 42.80477027888778,
 38.23076762617013,
 37.69185865800866,
 40.23914742063489,
 44.488563678451136,
 34.746655411255404,
 40.14276819567307,
 30.16758620129865,
 27.322175324675346,
 26.29328560696549,
 31.275126041349882,
 28.691469622225576,
 26.934758429794808,
 27.28948761763594,
 27.926436850649285]